# Main
game.title=Ship The Magical!

game.width=640
game.height=480
game.monitorWidth=1920
game.monitorHeight=1080

game.fullscreen=false
game.hideCursor=false

game.rewriteLevel=true
game.deleteLevel=true

#game.level=cave
#game.level=main
game.level=test

# World
game.world.defaultWidth=32
game.world.defaultHeight=32

game.world.scale=16

# Frames
game.fps.perSeceond=1.0
game.fps.maxFps=60.0
